ncbi_api_key.txt
**/GENOMIC
**/ptester
**/fastani.csv
**/hypergen.out
**/tmp
**/results
**/phylobayes
**/.vscode
**/__pycache__
**xz
**out
**sketch
**xlsx
**png
**tsv
down/dataformat
down/datasets
error_compare/error_compare/__pycache__/error_compare.cpython-312.pyc
error_compare/default.out.csv
error_compare/fastani_extracts.csv
error_compare/mummer.csv
